[submodule "assets/dotfiles_shared/.vim/bundle/ctrlp.vim"]
	path = assets/dotfiles_shared/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "assets/dotfiles_shared/.vim/bundle/LargeFile"]
	path = assets/dotfiles_shared/.vim/bundle/LargeFile
	url = https://github.com/lalbornoz/LargeFile
[submodule "assets/dotfiles_shared/.vim/bundle/nerdtree"]
	path = assets/dotfiles_shared/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "assets/dotfiles_shared/.vim/bundle/peaksea"]
	path = assets/dotfiles_shared/.vim/bundle/peaksea
	url = https://github.com/vim-scripts/peaksea
[submodule "assets/dotfiles_shared/.vim/bundle/supertab"]
	path = assets/dotfiles_shared/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "assets/dotfiles_shared/.vim/bundle/vim-filesearch"]
	path = assets/dotfiles_shared/.vim/bundle/vim-filesearch
	url = https://github.com/jeetsukumaran/vim-filesearch
[submodule "assets/dotfiles_shared/.vim/bundle/vim-fugitive"]
	path = assets/dotfiles_shared/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "assets/dotfiles_shared/.vim/bundle/vim-gitgutter"]
	path = assets/dotfiles_shared/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "assets/dotfiles_shared/.vim/bundle/vim-man"]
	path = assets/dotfiles_shared/.vim/bundle/vim-man
	url = https://github.com/vim-utils/vim-man
[submodule "assets/dotfiles_shared/.vim/bundle/vim-ripgrep"]
	path = assets/dotfiles_shared/.vim/bundle/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep
[submodule "assets/dotfiles_shared/.vim/bundle/async.vim"]
	path = assets/dotfiles_shared/.vim/bundle/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "assets/dotfiles_shared/.vim/bundle/asyncomplete-lsp.vim"]
	path = assets/dotfiles_shared/.vim/bundle/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "assets/dotfiles_shared/.vim/bundle/asyncomplete.vim"]
	path = assets/dotfiles_shared/.vim/bundle/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "assets/dotfiles_shared/.vim/bundle/vim-lsp"]
	path = assets/dotfiles_shared/.vim/bundle/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "assets/dotfiles_shared/.vim/bundle/vim-lsp-settings"]
	path = assets/dotfiles_shared/.vim/bundle/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
