[submodule ".vim/bundle/async.vim"]
	path = .vim/bundle/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule ".vim/bundle/asyncomplete.vim"]
	path = .vim/bundle/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule ".vim/bundle/asyncomplete-lsp.vim"]
	path = .vim/bundle/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/gruvbox"]
	path = .vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox/
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/bundle/LargeFile"]
	path = .vim/bundle/LargeFile
	url = https://github.com/lalbornoz/LargeFile
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/peaksea"]
	path = .vim/bundle/peaksea
	url = https://github.com/vim-scripts/peaksea
[submodule ".vim/bundle/vim-buffergator"]
	path = .vim/bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-lsp-settings"]
	path = .vim/bundle/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
[submodule ".vim/bundle/vim-man"]
	path = .vim/bundle/vim-man
	url = https://github.com/vim-utils/vim-man
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/bundle/vim-selection"]
	path = .vim/bundle/vim-selection
	url = https://github.com/arecarn/vim-selection
[submodule ".vim/bundle/vim-crunch"]
	path = .vim/bundle/vim-crunch
	url = https://github.com/arecarn/vim-crunch
[submodule ".vim/bundle/vim-quickui"]
	path = .vim/bundle/vim-quickui
	url = https://github.com/skywind3000/vim-quickui
[submodule ".vim/bundle/vim-filesearch"]
	path = .vim/bundle/vim-filesearch
	url = https://github.com/lalbornoz/vim-filesearch
[submodule ".vim/bundle/vim-lsp"]
	path = .vim/bundle/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
	branch = master
