[alias]
        cba = !git commit --amend --reset-author
	pullall = !git pull --all
	pushall = !git remote | xargs -L1 git push --all
	wgetam = "!wgetam() { wget -qO- \"${1}\" | git am -s; }; wgetam"
[commit]
	verbose = True
[credential]
	helper = store
[pull]
	rebase = false
[push]
	default = simple
