#
# Bourne Again SHell-specific initialisation
#

alias hc="history -c; clear";	# Aliases
set +o braceexpand;		# The shell does not performs brace expansion (sh(1) compatibility)
set +o histexpand;		# Disable ! style history substitution (sh(1) compatibility)

# Prompt string
PS1="\[\e[38;5;213m\]\u\[\e[38;5;201m\]@\[\e[38;5;213m\]\h:\[\e[38;5;201m\](\[\e[38;5;118m\]\w\[\e[38;5;201m\])> \[\e[38;5;123m\]\$\[\e[0m\] ";

# vim:filetype=sh foldmethod=marker noexpandtab sw=8 ts=8
