#
# Zsh-specific shell options and parameters
#

# Completion
set -o glob_complete;		# Cycle through <Tab>-completed results of a
				# matching glob pattern.

# Expansion and Globbing
set -o bare_glob_qual;		# Interpret glob qualifier postfixes enclosed in
				# parantheses, ...
set -o extended_glob;		# ..., the Zsh-specific set of ``extended''
				# ([#~^]) meta-characters, ...
set -o glob_subst;		# Treat characters resulting from {parameter
				# expansion,command substitution} as being eligible
				# for further globbing substitutions, excluding
				# brace expansion{,s}.
set -o ksh_glob;		# ..., aswell as the Korn Shell-style pattern
				# grouping prefixes ([@*+?!].)
set -o mark_dirs;		# Append a slash to matched directories.
set -o nobad_pattern;		# Don't reject invalid patterns
set +o nomatch;			# Do not print an error If a pattern for filename
				# generation has no matches.
set -o numeric_glob_sort;	# Sort numerically if only numerical file names
				# were matched.

# History
set +o bang_hist;		# Disable history expansion.
set +o extended_history;	# Don't save entered commands' corresponding
				# {UNIX,POSIX} timestamp to the histfile.

# Input/Output
set +o clobber;			# Require [!|] postfix to overwrite existing files
				# with the redirecting operators.
set -o interactive_comments;	# Allow comments in interactive shell sessions.
set -o print_exit_value;	# Show non-zero exit values.
set -o rc_quotes;		# Permit use of '' inside of '...'.

# Scripts and Functions
set -o c_bases;			# Output C-style hexadecimal numbers (0x...).

# Zle
set +o beep;			# Don't emit bell beeps at all.

# Shell-internal parameters
unset HISTFILE SAVEHIST;	# Don't save the command history at all.

#
# <https://www.zsh.org/mla/workers/2022/msg00814.html>
# <https://www.zsh.org/mla/workers/2022/msg00815.html>
#
export RSYNC_OLD_ARGS=1;
export RSYNC_PROTECT_ARGS=0;

# vim:filetype=sh foldmethod=marker noexpandtab sw=8 ts=8
